.error{
    color: #FF0000;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    
    margin: 8em auto auto;
  }
  
  .box-login{
    background-color: black;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;

}