

@import '~ngx-toastr/toastr';
@import "./assets/styles/form.scss"; 
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


* {
    
}

label,
input,
a,
p {
    font-family: Poppins, sans-serif !important;
}



.pointer {
    cursor: pointer;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
